/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    border: 2px solid rgba(208, 255, 0, 0.877);
}

body{
    background-image: linear-gradient(rgb(255, 38, 0), rgb(72, 240, 39));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    justify-content: start;
    border: 2px solid rgb(255, 0, 149);
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    border: 2px solid rgba(208, 255, 0, 0.877);
}

body{
    background-image: linear-gradient(rgb(255, 38, 0), rgb(72, 240, 39));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    justify-content: start;
    border: 2px solid rgb(255, 0, 149);
} 
