.div1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgba(241, 245, 10, 0.986);
  
}

.div2{
    text-align: center;
    font: 100;
    color: rgb(233, 8, 64);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}