.div1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: brown;
    
}
.div2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 100;
    color: hsl(0, 100%, 50%, 0,5);
}


