*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/images/Zeekr-007-2024-appearance-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(248, 153, 10);
}