* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/images/Brachycephalus_ephippium01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aquamarine;
}