* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: 800;
}

body {
    background-image: url(./assets/images/ზღვის\ კუ.jfif);
    background-repeat: cover;
    background: rgb(224, 30, 30), rgb(233, 199, 5);
}


.card {

    width: 250px;
    background-color: rgb(245, 149, 4);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}