.parent{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;

}

.parent1{
    height: 100px;
    width: 100px;
    background-color: brown;
}