@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+15&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgba(255, 0, 0, 0.671);
    background-image:url(assets/images/Extant_reptilia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    margin-left: 40px;
    list-style-type: georgian;
    list-style-position: outside;
    list-style-image: url(./assets/icons/person_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);

}

.div:hover{
    color: purple;

}


.div{
    color: rgba(221, 236, 20, 0.938);
    text-decoration: line-through;
    cursor: pointer;

}
#home:visited{
    color: rgb(0, 255, 255);
}

#contact:active{
    color:blueviolet;
}

#about:hover{
    color:rgb(112, 165, 42);
}

a{
    text-decoration: none ;
}
